<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>


<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1><b>Diced</b></h1>
  <br></br>
  <button onclick="location.href = '/get_recommendation';" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Looking for a recipe?</button>
</header>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="static/teriyaki.jpg" alt="chicken" style="width:100%">
      <button onclick="location.href = 'http://allrecipes.com/recipe/9023/baked-teriyaki-chicken/?internalSource=previously%20viewed&referringContentType=home%20page&clickId=cardslot%205';" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Baked Chicken Teriyaki</button>
      <p>A spicy, homemade teriyaki of soy sauce, cider vinegar, ginger and garlic enlivens chicken thighs of pieces. Easy to double for a large group</p>
    </div>
    <div class="w3-quarter">
      <img src="static/lasagna.jpg" alt="lasagna" style="width:100%">
      <button onclick="location.href ='http://allrecipes.com/recipe/23600/worlds-best-lasagna/?internalSource=previously%20viewed&referringContentType=home%20page&clickId=cardslot%2011';" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">World's Best Lasagna</button>
      <p>Filling and satisfying, John Chandler's lasagna is our most popular recipe. With basil, sausage, ground beef and three types of cheese, it lives up to its name</p>
    </div>
    <div class="w3-quarter">
      <img src="static/asian_beef.jpg" alt="Cherries" style="width:100%">
      <button onclick="location.href ='http://allrecipes.com/recipe/15679/asian-beef-with-snow-peas/?internalSource=staff%20pick&referringId=17562&referringContentType=recipe%20hub';" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Asian Beef with Snow Peas</button>
      <p>Asian Beef with snow peas in a light gingery sauce.</p>
    </div>
    <div class="w3-quarter">
      <img src="static/salmon.jpg" alt="Pasta and Wine" style="width:100%">
      <button onclick="location.href ='http://allrecipes.com/recipe/80388/lemon-rosemary-salmon/?internalSource=staff%20pick&referringId=17562&referringContentType=recipe%20hub';" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Lemon Rosemary Salmon</button>
      <p>Salmon fillets are baked with lemon, rosemary, olive oil, and coarse salt in this simple recipe.</p>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="static/sugar_cookie.jpg" alt="sugar" style="width:100%">
      <button onclick="location.href ='http://allrecipes.com/recipe/9864/cracked-sugar-cookies-i/?internalSource=hub%20recipe&referringId=841&referringContentType=recipe%20hub;" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Cracked Sugar Cookies</button>
      <p>This recipe makes a nice sugar cookie with a soft center</p>
    </div>
    <div class="w3-quarter">
      <img src="static/biscotti.jpg" alt="biscotti" style="width:100%">
      <button onclick="location.href ='http://allrecipes.com/recipe/17241/biscotti/?internalSource=hub%20recipe&referringId=841&referringContentType=recipe%20hub';" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Biscotti</button>
      <p>This is a simple, no frills biscotti. My friend at work gave this recipe to me. It's quick, easy, and one of my favorite Italian cookie recipes.</p>
    </div>
    <div class="w3-quarter">
      <img src="static/caramel_cookies.jpg" alt="Sandwich" style="width:100%">
      <button onclick="location.href ='http://allrecipes.com/recipe/10642/caramel-filled-chocolate-cookies/?internalSource=hub%20recipe&referringId=841&referringContentType=recipe%20hub';" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Caramel Filled Chocolate Cookies</button>
      <p>Chocolate cookie dough is wrapped around caramel filled chocolate candies. We have these at Christmas each year, They are delicious! Hope you enjoy them too.</p>
    </div>
    <div class="w3-quarter">
      <img src="static/rosenmunnar.jpg" alt="Croissant" style="width:100%">
      <button onclick="location.href ='http://allrecipes.com/recipe/23600/worlds-best-lasagna/?internalSource=previously%20viewed&referringContentType=home%20page&clickId=cardslot%2011';" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Rosenmunnar</button>
      <p>Butter, sugar, flour, and jam are all you need to make these Swedish thumbprint cookies.</p>
    </div>
  </div>



  <hr id="about">

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <h3>Recipe Recommender</h3><br>
    <img src="static/RoseNeilson.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="200" height="50">
    <div class="w3-padding-32">
      <h4><b>Created by Rose Marie Neilson</b></h4>
      <h6><i>With a Passion for Good
        Food and Good Data Science</i></h6>
      <p>The goal of this project is to introduce you to new and exciting recipes or to remind you of an old favorite! This website works by entering what ingredients you have on hand and having recipes returned that match the ingredients you have and add a few more for your grocery list. </p>
    </div>
  </div>
  <hr>

  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">

      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>




  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
