<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
html {
    background: url('static/trying.jpg') no-repeat center fixed;
    background-size: cover;
  }
  h1{
    font-size: 60px; font-family: "Karma", sans-serif;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>

<div class="w3-main w3-content w3-padding" style="max-width:700px;margin-top:100px">
  <div class="w3-container w3-padding-32 w3-center">
    <h1><b>Grocery List</b></h1>
  <div class="w3-container w3-card w3-white w3-margin-bottom">
    {% for line in data %}
    <h4><b>{{line}}</b></h4>
    {% endfor %}
  </div>
</div>
